{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "handle-callback-err": [
            "error"
        ]
    }
}